.loginWidth{
    width: 60%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 40px;
    display: flex;
}

.cardWidth{
    border: none;
}

.left{
    float: left;
    width: 40%;
    height: 100vh;
    background-color: black;
    display: inline-block;
}

.btnWidth{
    width: 100%;
}